/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

$corporateRed: #d04119;
$validateGreen: #82DE72;
$cancelRed: #E38282;

body{
  font-family: 'Roboto Condensed', sans-serif;
  /* LAYOUT NAVBAR */
    nav{
        max-height: 12em;
        .row{
            .logo{
            max-width: 16em;
            }
            .title{
            text-align: center;
            margin-top: 2em;
            }
            .icons{
            
                .drivers{
                    display: block;
                    width: 10%;
                    height: 10%;
                    float: right;
                    margin: 10%;
                }
                .archive{
                    display: block;
                    width: 10%;
                    height: 10%;
                    float: right;
                    margin: 10%;
                }
                .admin{
                    display: block;
                    width: 10%;
                    height: 10%;
                    float: right;
                    margin: 10%;
                }
            }
        }
    }

  /* FIN LAYOUT NAVBAR */
    .container{
        margin-top: 50px;
        display: block;
        .row{
            .card{
                border: solid;
                border-width: thin;
                margin: 30px 30px 0px 0px;
                padding: 10px 10px;
                a{
                    text-decoration: none;
                    color: black;
                }
                //icones
                img{
                    width: 30%;
                    margin-right: 5px;
                }
                .name{
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .location{
                    text-align: center;
                    font-size: 11px;
                }
                .priority{
                    border: solid;
                    border-width: 1px;
                    border-radius: 3px;
                    text-align: center;
                }
                .project-units{

                }
                .project-site{
                    text-align: right;
                }
                .manufacturer-name{
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
        #createClient{
            display: block;
            width: 20%;
            margin: auto;
            margin-top: 10px;
            text-align: center;
        }
        .main-btn{
            display: block;
            width: 30%;
            margin: auto;
            margin-top: 50px;
            background-color: $corporateRed;
            border-color: $corporateRed;
            &:hover{
                background-color:white;
                color: black;
                border-color: $corporateRed;
            }
        }
        .footer-buttons{
            display: block;
            width: 40%;
            margin: 50px auto;
            .validate{
                background-color: $validateGreen;
                color: white;
                width: 40%;
                margin: auto;
            }
            .cancel{
                background-color: $cancelRed;
                color: white;
                width: 40%;
            }
        }

        
        .links{
            float: right;
            img{
                width: 20px;
            }
        }
        .show{
            .row{
                margin-top: 50px;
            }
            a{
                color: inherit;
                text-decoration: none;
            }
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                }
            }
            hr{
                width: 80%;
                color: #d04119;
                display: block;
            }
            #driver-icon{
                width: 25%;
            }
            .btn-info{
                color: white;
                width: 15%;
                display: block;
                margin: auto;
            }
            .description{
                min-height: 50px;
                border: solid;
                border-width: 1px;
                padding: 10px;
                border-radius: 5px;
            }
            .driver-list{
                height: 100%;
                p{
                    margin-bottom: 0;
                    margin-left: 100px;
                    padding-top: 2%;
                }
                img{
                    height: 100%;
                    width: 15%;
                    float: left;
                    margin: 10px;
                }
                ul{
                    margin-left: 25%;
                }
            }
            img{
                width: 15%;
                float: right;
            }
            .text{
                line-height: 2.5;
            }
        }
    }

        //forms
        .form{
            .row{
                margin-top: 25px;
                img{
                    width: 7%;
                    float: left;
                    margin: 10px 10px;
                }
                #licence_type{
                    text-transform: uppercase;
                }
            }
        }

    //devise views
    .background-login{
        background-image: image-url('background.svg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        h1{
            text-align: center;
            background-color: white;
        }
        .login{
            background-color: white;
            width: 50%;
            margin: auto;
            margin-top: 100px;
            display: block;
            padding: 5%;
            border: solid;
            border-color: black;
            border-radius: 5%;
            border-width: 1px;
            .devise_links{
                text-decoration-color: $corporateRed;
                color: $corporateRed;
            }
            .main-btn{
                display: block;
                width: 30%;
                margin: auto;
                margin-top: 50px;
                background-color: $corporateRed;
                border-color: $corporateRed;
                color: white;
                &:hover{
                    background-color:white;
                    color: black;
                    border-color: $corporateRed;
                }
            }
        }
    }
}
